* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body {
  /* background-color: #ffff; */
  font-family: Arial, sans-serif;
  height: 100vh;
  /* width: 100vw; */
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}
.nav_bar {
  width: 100%;
  padding: 10px;
  color: rgb(17, 27, 71);
}
.container {
  width: 75%;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.nav_first {
  display: flex;
  gap: 60px;
}
.nav_first a {
  text-decoration: none;
  gap: 10px;
  color: #505f98;
}
.btn {
  height: 26px;
  width: 150px;
  background-color: rgb(17, 27, 71);
  color: #ffff;
  border-radius: 4px;
  opacity: 0px;
  gap: 10px;
  cursor: pointer;
}
.hero-content {
  color: rgb(17, 27, 71);
  /* background-color: rgb(242,245,255); */
  justify-content: center;
  padding: 20px;
  align-self: center;
  display: grid;
}
.main {
  /* width: 1270px; */
  height: calc(100vh - 60px);
  /* margin-top: 10px; */
  /* top: -49px; */
  /* left: -4px; */
  /* gap: 0px; */
  /* padding-left: 12%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  /* flex-wrap: wrap; */
  /* opacity: 0px; */
  /* margin: 20 auto; */
  background-image: url("./images//bg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.hero-content h1 {
  font-size: 40px;
}
.hero-btn {
  display: flex;
  gap: 10px;
}
.btn1 {
  height: 26px;
  width: 150px;
  color: rgb(17, 27, 71);
  background-color: #ffff;
  border-radius: 4px;
  opacity: 0px;
  gap: 10px;
}
.para {
  margin-top: 10px;
}
.box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 5px;
}
.box1 {
  box-shadow: 0px 4px 4px white;
  border: 2px solid whitesmoke;
}
.box-pic {
  align-self: start;
  margin-top: 13px;
}
